<!--
inspired from polymer start kit
-->
<script src="../../components/page/page.js"></script>
<script>
    window.addEventListener('WebComponentsReady', function() {

        var app = document.querySelector('#app');

        // Removes end / from app.baseUrl which page.base requires for production
        if (window.location.port === '') {  // if production
            page.base(app.baseUrl.replace(/\/$/, ''));
        }

        // Routes
        page('/', function() {
            Polymer.Base.importHref(
                '../../components/pepsweetener-simple-search/pepsweetener-simple-search.html'
            );
            app.route = 'home';
        });

        page(app.baseUrl, function() {
            Polymer.Base.importHref(
                '../../components/pepsweetener-simple-search/pepsweetener-simple-search.html'
            );
            app.route = 'home';
        });

        page('/advanced', function() {
            Polymer.Base.importHref(
                '../../components/pepsweetener-advanced-search/pepsweetener-advanced-search.html'
            );
            app.route = 'advanced';
        });

        page('/howto', function() {
            app.route = 'howto';
        });


        page('/contact', function() {
            app.route = 'contact';
        });

        // 404
        page('*', function() {
            app.$.toast.text = 'Can\'t find: ' + window.location.href  + '. Redirected you to Home Page';
            app.$.toast.show();
            page.redirect(app.baseUrl);
        });

        // add #! before urls
        page({
            hashbang: true
        });

    });
</script>
